<!--
<button (focus)="myMethod()">focus</button>
<button (blur)="myMethod()">blur</button>
<button (submit)="myMethod()">submit</button>  
<button (scroll)="myMethod()">scroll</button>

<button (cut)="myMethod()">cut</button>
<button (copy)="myMethod()">copy</button>
<button (paste)="myMethod()">paste</button>

<button (keydown)="myMethod()">keydown</button>
<button (keypress)="myMethod()">keypress</button>
<button (keyup)="myMethod()">keyup</button>

<button (mouseenter)="myMethod()">mouseenter</button>
<button (mousedown)="myMethod()">mousedown</button>
<button (mouseup)="myMethod()">mouseup</button>

<button (click)="myMethod()">click</button>
<button (dblclick)="myMethod()">dbclick</button>

<button (drag)="myMethod()">drag</button>
<button (dragover)="myMethod()">dragover</button>
<button (drop)="myMethod()">drop</button>
-->

<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>
  
    <label>
      Message:
      <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">
  
  </form>

  <div *ngIf="submitted" class="results">
    <strong>Name:</strong> 
    <span>{{ messageForm.controls.name.value }}</span>

    <strong>Message:</strong> 
    <span>{{ messageForm.controls.message.value }}</span>
  </div>
